@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css');

html, body {
  margin: 0;
  height: 100%;
}

header {
  background: #dd4411;
  height: 200px;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
  font-size: 30pt;
  text-align: left;
  font-family: 'Montserrat';
  color: #ffffff;
}

td.absorbing-column {
  width: 100%;
}

aside {
  background-image: url('../images/aside.jpg');
  background-size: 100% 100%;
  float: left;
  padding: 15px;
  width: calc(30% - 30px);
  height: calc(100% - 30px);
  line-height: 25px;
  font-size: 10pt;
  overflow: auto;
  font-family: 'Montserrat';
  color: #ffffff;
}

a.aside:link, a.aside:visited {
  color: #ffffff;
}

a.aside:hover {
  color: #dd4411;
}

/*dd4411*/

section {
  float: right;
  width: 70%;
  height: 100%;
}

section.map {
}
