@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css');

html, body {
  margin: 0;
  height: 100%;
}

header {
  background: #dd4411;
  height: 150px;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
  font-size: 35pt;
  text-align: left;
  font-family: 'Montserrat';
  color: #ffffff;
}

td.absorbing-column {
  width: 100%;
}

aside {
  float: left;
  padding: 15px;
  width: calc(25% - 30px);
  height: calc(100% - 180px);
  line-height: 33px;
  font-family: 'Montserrat';
  color: #777777;
}

a:link {
  color: #dd4411;
}

a:visited {
  color: #bbbbbb;
}

section {
  float: right;
  width: 75%;
  height: calc(100% - 150px);
}

section.map {
}
